<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mb.dao.mapper.StatsDeviceOnlineMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.mb.model.po.StatsDeviceOnline">
    <id column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <id column="record_date" jdbcType="DATE" property="recordDate" />
    <result column="online_seconds" jdbcType="BIGINT" property="onlineSeconds" />
    <result column="online_status" jdbcType="INTEGER" property="onlineStatus" />
    <result column="online_days" jdbcType="INTEGER" property="onlineDays" />
    <result column="offline_days" jdbcType="INTEGER" property="offlineDays" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_logout_time" jdbcType="TIMESTAMP" property="lastLogoutTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    device_id, record_date, online_seconds, online_status, online_days, offline_days, 
    last_login_time, last_logout_time, last_update_time, create_time
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.mb.model.po.StatsDeviceOnlineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from stats_device_online
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.demo.mb.model.po.StatsDeviceOnlineKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stats_device_online
    where device_id = #{deviceId,jdbcType=VARCHAR}
      and record_date = #{recordDate,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.demo.mb.model.po.StatsDeviceOnlineKey">
    delete from stats_device_online
    where device_id = #{deviceId,jdbcType=VARCHAR}
      and record_date = #{recordDate,jdbcType=DATE}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.mb.model.po.StatsDeviceOnlineExample">
    delete from stats_device_online
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.mb.model.po.StatsDeviceOnline">
    insert into stats_device_online (device_id, record_date, online_seconds, 
      online_status, online_days, offline_days, 
      last_login_time, last_logout_time, last_update_time, 
      create_time)
    values (#{deviceId,jdbcType=VARCHAR}, #{recordDate,jdbcType=DATE}, #{onlineSeconds,jdbcType=BIGINT}, 
      #{onlineStatus,jdbcType=INTEGER}, #{onlineDays,jdbcType=INTEGER}, #{offlineDays,jdbcType=INTEGER}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLogoutTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.mb.model.po.StatsDeviceOnline">
    insert into stats_device_online
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="recordDate != null">
        record_date,
      </if>
      <if test="onlineSeconds != null">
        online_seconds,
      </if>
      <if test="onlineStatus != null">
        online_status,
      </if>
      <if test="onlineDays != null">
        online_days,
      </if>
      <if test="offlineDays != null">
        offline_days,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="lastLogoutTime != null">
        last_logout_time,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=DATE},
      </if>
      <if test="onlineSeconds != null">
        #{onlineSeconds,jdbcType=BIGINT},
      </if>
      <if test="onlineStatus != null">
        #{onlineStatus,jdbcType=INTEGER},
      </if>
      <if test="onlineDays != null">
        #{onlineDays,jdbcType=INTEGER},
      </if>
      <if test="offlineDays != null">
        #{offlineDays,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogoutTime != null">
        #{lastLogoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.mb.model.po.StatsDeviceOnlineExample" resultType="java.lang.Long">
    select count(*) from stats_device_online
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update stats_device_online
    <set>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.recordDate != null">
        record_date = #{record.recordDate,jdbcType=DATE},
      </if>
      <if test="record.onlineSeconds != null">
        online_seconds = #{record.onlineSeconds,jdbcType=BIGINT},
      </if>
      <if test="record.onlineStatus != null">
        online_status = #{record.onlineStatus,jdbcType=INTEGER},
      </if>
      <if test="record.onlineDays != null">
        online_days = #{record.onlineDays,jdbcType=INTEGER},
      </if>
      <if test="record.offlineDays != null">
        offline_days = #{record.offlineDays,jdbcType=INTEGER},
      </if>
      <if test="record.lastLoginTime != null">
        last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLogoutTime != null">
        last_logout_time = #{record.lastLogoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateTime != null">
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update stats_device_online
    set device_id = #{record.deviceId,jdbcType=VARCHAR},
      record_date = #{record.recordDate,jdbcType=DATE},
      online_seconds = #{record.onlineSeconds,jdbcType=BIGINT},
      online_status = #{record.onlineStatus,jdbcType=INTEGER},
      online_days = #{record.onlineDays,jdbcType=INTEGER},
      offline_days = #{record.offlineDays,jdbcType=INTEGER},
      last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      last_logout_time = #{record.lastLogoutTime,jdbcType=TIMESTAMP},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.mb.model.po.StatsDeviceOnline">
    update stats_device_online
    <set>
      <if test="onlineSeconds != null">
        online_seconds = #{onlineSeconds,jdbcType=BIGINT},
      </if>
      <if test="onlineStatus != null">
        online_status = #{onlineStatus,jdbcType=INTEGER},
      </if>
      <if test="onlineDays != null">
        online_days = #{onlineDays,jdbcType=INTEGER},
      </if>
      <if test="offlineDays != null">
        offline_days = #{offlineDays,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogoutTime != null">
        last_logout_time = #{lastLogoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=VARCHAR}
      and record_date = #{recordDate,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.mb.model.po.StatsDeviceOnline">
    update stats_device_online
    set online_seconds = #{onlineSeconds,jdbcType=BIGINT},
      online_status = #{onlineStatus,jdbcType=INTEGER},
      online_days = #{onlineDays,jdbcType=INTEGER},
      offline_days = #{offlineDays,jdbcType=INTEGER},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_logout_time = #{lastLogoutTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where device_id = #{deviceId,jdbcType=VARCHAR}
      and record_date = #{recordDate,jdbcType=DATE}
  </update>
</mapper>